$def with (urlroot, uploads)
<html>
<head>
<link rel="stylesheet" type="text/css" href="$(urlroot)/static/default.css" />
<title>all uploads</title>
</head>
<body>
<h1><a href="$(urlroot)/">$wikititle</a> -&gt; all uploads</h1>
<ul>
$for fname in uploads:
    <li><a href="$(urlroot)/upload/$fname">$fname</a></li>
</ul>

<hr>
<p>
[<a href="$(urlroot)/uploader">uploader</a>]<br>
<form action="$(urlroot)/deauthenticator" method="POST">
<input type="submit" value="logout">
</form>
</p>
</body>
</html>
