$def with (urlroot, name, textarea_content)
<html><head><title>Editing $name</title></head>
<body>
<h1><a href="$(urlroot)/">$wikititle</a> -&gt; Editing: $name</h1>
<form name="main" method="POST" accept-charset="utf-8" action="$(urlroot)/page/$name">
<textarea name="content" cols="120" rows="40">$:textarea_content</textarea>
<br>
<input type="submit" value="save">
</form>
<p><a href="http://www.wikicreole.org/wiki/CheatSheet">Creole Syntax</a>:</p>
<pre>
== Large heading ==               Horizontal line:
=== Medium heading ===            ----
==== Small heading ====

[[WikiLink]]                      [[URL|link name]]

{{{
unformatted text
}}}

* Bullet list                     # Numbered list
** Sub item                       ## Sub item

{{Image.jpg|title}}

|=|=table|=header|
|a|table|row|
|b|table|row|

//italics//                       **bold**

Forced\\linebreak

dealing with uploads:
{{/$(wikititle)/upload/foo.jpg}}
[[/$(wikititle)/upload/foo.pdf]]
</pre>
<form action="$(urlroot)/deauthenticator" method="POST">
<input type="submit" value="logout">
</form>
</body>
</html>
