$def with (urlroot)
<html><head><title>login</title></head>
<body onLoad="document.form.user.focus()">
<form action="$(urlroot)/smscodeauthenticator" method="POST" name="form">
    <table id="login">
        <tr>
            <td>User: </td>
            <td><input type="text" name="user"></td>
        </tr>
        <tr>
            <td>SMS Code: </td>
            <td><input type="text" name="smscode"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="login"></td>
        </tr>
    </table>
</form>
</body>
</html>
